#owner-form input {
    margin-top: 5px;
}

#owner-form label,
#owner-form input[type="submit"],
#owner-form .property-type>span {
    margin: 0 10px;
    margin-top: 10px;
    display: block;
}

#owner-form .property-type label {
    padding: 5px;
    margin: 0 10px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #0085da;
}

#owner-form .property-type label.active {
    background: #006fb8;
    color: #fff;
}

#owner-form input {
    margin: 0 10px;
}

#owner-form input[type="radio"] {
    display: none;
}

.rtl label span {
    float: right;
}