#owner-form input {
    margin-top: 5px;
}

#owner-form label,
#owner-form input[type="submit"],
#owner-form .radio-checkbox>span {
    margin: 0 10px;
    margin-top: 10px;
    display: block;
}

#owner-form .radio-checkbox label {
    padding: 5px;
    margin: 0 10px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #0085da;
    cursor: pointer;
}

#owner-form .radio-checkbox label.active {
    background: #006fb8;
    color: #fff;
}

#owner-form input {
    margin: 0 10px;
}

#owner-form input[type="radio"],
#owner-form input[type="checkbox"] {
    display: none;
}

.rtl label span {
    float: right;
}